@import 'helping';

// companies
.companies {
    padding: 130px 0;
    &__slider {
        margin: 50px 0;
        @media (max-width: $md3) {
            margin-top: 25px;
        }
    }
    .slick-dots {
        position: absolute;
        right: 0;
        top: -50px;
        display: flex;
        gap: 11px;
        @media (max-width: $md3) {
            top: calc(100% + 12px);
            left: 0;
        }
        li {
            padding: 5px;
            &.slick-active {
                border: 1px solid $primary;
                border-radius: 50%;
            }
        }
        button {
            background: $primary;
            padding: 5px;
            margin: 0;
            border: none;
            font-size: 0;
            border-radius: 50%;
            display: block;
            width: 7px;
            height: 7px;
            &:focus {
                outline: none;
            }
        }
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        @media(max-width: $md3) {
            grid-template-columns: repeat(2, 2fr);
        }
        justify-content: center;
        row-gap: 15px;
        margin-top: 134px;
        @media(max-width: $md1) {
            margin-top: 9vw;
        }
    }

    &__item {
        a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img {
           width: 100%;
        }
    }
}
.company-item {
    &:not(:first-child) {
        margin-left: 35px;
    }
    &__info {
        display: flex;
        align-items: center;
        gap: 35px;
        margin-bottom: 25px;
        @media (max-width: $md3) {
            gap: 15px;
        }
    }
    &__date {
        font-size: rem(12px);
        color: rgba($color: $dark, $alpha: 0.65);
        margin-bottom: 12px;
    }
    &__title {
        font-size: rem(24px);
        font-weight: 500;
        color: $dark;
    }
}