@import 'helping';

// what section
.what {
    padding: 130px 0;
    position: relative;
    &-decor {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 130px;
        width: 660px;
        height: 666px;
        @media(max-width:1876px) {
            width: 590px;
            height: 590px;
            right: 0;
        }
        @media (max-width: $md1) {
            top: 400px;
            width: 450px;
            height: 450px;
        }
        @media (max-width: $md2) {
            width: 340px;
            height: 370px;
            top: 38%;
        }
        @media (max-width: $md3) {
            right: -60px;
                top: 28%;
                transform: rotate(-65deg);
        }
        @media(max-width: 425px) {
            top: 35%;
        }
    }
    &__columns {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        @media (max-width: $md1) {
            flex-direction: column;
            justify-content: flex-start;
        }
    }
    &-text {
        flex: 0 1 613px;
        @media (max-width: $md1) {
            flex: 0 1 auto;
        }
        &__subtitle {
            margin-top: 35px;
            margin-bottom: 50px;
            font-weight: 500;
            @media (max-width: $md3) {
                font-size: rem(14px);
                margin-top: 25px;
                margin-bottom: 30px;
            }
        }
    }
    &-steps {
        flex: 0 1 643px;
        padding-left: 25px;
        padding-right: 10vw;
        position: relative;
        z-index: 2;
        @media (max-width: $md1) {
            flex: 0 1 auto;
            padding-left: 0;
            margin-top: 60px;
        }
        @media(max-width: $md3) {
            padding-right: 15vw;
        }
        @media (max-width: $md4) {
            padding-right:10vw;
        }
        &__title {
            color: #000;
            font-size: rem(22px);
            margin-bottom: 35px;
        }
        counter-reset: steps;
        &__item {
            padding: 20px 30px;
            box-shadow: 0px 12px 25px rgba(86, 86, 86, 0.08);
            border-radius: 12px;
            display: flex;
            background: #fff;
            @media(max-width: $md3) {
                padding: 15px;
            }
            &::before {
                counter-increment: steps;
                content: counter(steps);
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 20px;
                height: 45px;
                flex: 0 0 45px;
                background: $primary;
                color: #fff;
                font-size: rem(16px);
                font-weight: 600;
                border-radius: 50%;
            }
            p {
                display: block;
                font-size: rem(13px);
            }
            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }
    &-bottom {
        margin-top: 130px;
        @media (max-width: $md1) {
            margin-top: 60px;
        }
        &__title {
            color: #000;
            max-width: 483px;
            margin-bottom: 35px;
            span {
                color: $text;
            }
        }
        &__list {
            display: flex;
            gap: 35px;
            max-width: 1130px;  
            @media (max-width: $md1) {
                gap: 15px;
            }
            @media (max-width: $md2) {
                flex-direction: column;
            }
        }
        &__item {
            box-shadow: 0px 12px 25px rgba(86, 86, 86, 0.08);
            border-radius: 15px;
            padding: 20px 35px;
            font-weight: 500;
            position: relative;
            color: #000;
            background: #fff;
            &::before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 54px;
                width: 6px;
                background: url(../img/what-item_decor.svg) center / cover no-repeat;
            }
        }
    }
}
